## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.60,-73.97,73.00,54,28,2.51,US,2020-09-06 15:50:36
1,1,Walvis Bay,-22.96,14.51,64.40,59,0,12.75,NaN,2020-09-06 15:56:19
2,2,Ikalamavony,-21.15,46.58,60.64,66,51,9.75,MG,2020-09-06 15:56:53
3,3,Monywa,22.12,95.13,85.14,73,97,7.85,MM,2020-09-06 15:56:53
4,4,Manacapuru,-3.30,-60.62,95.00,41,60,3.36,BR,2020-09-06 15:56:53

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?40
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.60,-73.97,73.00,54,28,2.51,US,2020-09-06 15:50:36
1,1,Walvis Bay,-22.96,14.51,64.40,59,0,12.75,NaN,2020-09-06 15:56:19
2,2,Ikalamavony,-21.15,46.58,60.64,66,51,9.75,MG,2020-09-06 15:56:53
3,3,Monywa,22.12,95.13,85.14,73,97,7.85,MM,2020-09-06 15:56:53
5,5,Qrendi,35.83,14.46,82.40,65,20,14.99,MT,2020-09-06 15:56:54
6,6,Cape Town,-33.93,18.42,68.00,49,2,10.29,ZA,2020-09-06 15:53:22
7,7,Hermanus,-34.42,19.23,63.00,67,16,5.01,ZA,2020-09-06 15:54:23
8,8,Pisco,-13.70,-76.22,63.00,82,90,6.93,PE,2020-09-06 15:55:51
9,9,Punta Arenas,-53.15,-70.92,42.80,81,75,13.87,CL,2020-09-06 15:49:37
10,10,Port Alfred,-33.59,26.89,62.76,82,88,12.48,ZA,2020-09-06 15:54:22

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       624
City          624
Lat           624
Lng           624
Max Temp      624
Humidity      624
Cloudiness    624
Wind Speed    624
Country       621
Date          624
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.60,-73.97,73.00,54,28,2.51,US,2020-09-06 15:50:36
2,2,Ikalamavony,-21.15,46.58,60.64,66,51,9.75,MG,2020-09-06 15:56:53
3,3,Monywa,22.12,95.13,85.14,73,97,7.85,MM,2020-09-06 15:56:53
5,5,Qrendi,35.83,14.46,82.40,65,20,14.99,MT,2020-09-06 15:56:54
6,6,Cape Town,-33.93,18.42,68.00,49,2,10.29,ZA,2020-09-06 15:53:22
7,7,Hermanus,-34.42,19.23,63.00,67,16,5.01,ZA,2020-09-06 15:54:23
8,8,Pisco,-13.70,-76.22,63.00,82,90,6.93,PE,2020-09-06 15:55:51
9,9,Punta Arenas,-53.15,-70.92,42.80,81,75,13.87,CL,2020-09-06 15:49:37
10,10,Port Alfred,-33.59,26.89,62.76,82,88,12.48,ZA,2020-09-06 15:54:22
11,11,Waipawa,-41.41,175.52,51.80,81,98,23.04,NZ,2020-09-06 15:55:49

In [11]:
# 4a (continued). Determine if there are any empty rows.
clean_df.count()

City_ID       621
City          621
Lat           621
Lng           621
Max Temp      621
Humidity      621
Cloudiness    621
Wind Speed    621
Country       621
Date          621
dtype: int64

In [12]:
print(clean_df.columns)

Index(['City_ID', 'City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0         Albany      US     73.00  42.60  -73.97
2    Ikalamavony      MG     60.64 -21.15   46.58
3         Monywa      MM     85.14  22.12   95.13
5         Qrendi      MT     82.40  35.83   14.46
6      Cape Town      ZA     68.00 -33.93   18.42
7       Hermanus      ZA     63.00 -34.42   19.23
8          Pisco      PE     63.00 -13.70  -76.22
9   Punta Arenas      CL     42.80 -53.15  -70.92
10   Port Alfred      ZA     62.76 -33.59   26.89
11       Waipawa      NZ     51.80 -41.41  175.52

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
#base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"


    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
   # try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    #except (IndexError):
       # print("Hotel not found... skipping.")

In [43]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure